#heroSection {
    color: var(--mainTxtColor);
}

#topSection {
    padding: 2em 0;
    div:first-child {
        font-size: 1.2em;
        font-weight: var(--bold);
        padding-bottom: .2em;
    }
    div:nth-child(2) {
        font-size: .8em;
        span {
            color: var(--success);
            text-decoration: underline;
            font-weight: var(--bold);
            cursor: pointer;
        }
    }
}

#randTextGenerator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
        margin-top: 2em;
        flex-basis: 28%;
        -webkit-box-shadow: 0px 3px 13px -3px rgba(122,122,122,0.5); 
        box-shadow: 0px 3px 13px -3px rgba(122,122,122,0.5);
        padding: 1.5em 2em;
    }
}