.selected {
    border-bottom: 2px solid;
    padding-bottom: 30px;
    margin-top: 32px;
    opacity: 1!important;
}

#header {
    background-color: var(--headerBgColor);
    color: var(--headerTxtMainColor);
    font-size: 1.2em;
    height: 80px;
}

#headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

/*****LOGO*****/
#logo {
    text-transform: uppercase;
    text-align: center;
    flex-basis: 6%;
    span {
        font-weight: var(--bold);
    }
}

/*****MAIN TABS*****/
#mainTabs {
    display: flex;
    flex-basis: 68%;
    height: 100%;
    align-items: center;
    div {
        margin-right: 2em;
        opacity: .8;
        cursor: pointer;
    }
    div:nth-child(6) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1600px) {
    #mainTabs {
        justify-content: center;
    }
}  

@media only screen and (max-width: 1160px) {
    #mainTabs {
        div {
            margin-right: .5em;
        }
    }
} 

/*****SEARCH*****/
#search {
    text-align: right;
    flex-basis: 12%;
    margin-right: 1em;
    img {
        width: 12px;
        vertical-align: middle;
        margin-right: .5em;
    }
    input {
        background-color: transparent;
        border: none;
        font-family: Lato;
        font-size: .8em;
        font-weight: var(--light);
        color: var(--headerTxtMainColor);
        width: 5em;
    }
    input:focus {
        outline: none;
    }
}

::placeholder {
    color: var(--headerTxtMainColor);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--headerTxtMainColor);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--headerTxtMainColor);
  }

/*****USER PROFILE*****/
#userProfile {
    flex-basis: 6%;
    display: flex;
    font-size: 1rem;
    font-weight: var(--regularFont);
    img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: .5em;
    }
}

#userInfo {
    display: flex;
    flex-direction: column;
    span:nth-child(2) {
        font-weight: var(--light);
    }
}