#table {
    background-color: var(--bgColor);
    padding: 0 3em;
}
table {
    width: 100%;
    text-align: left;
    font-size: .9em;
    font-family: var(--fontFamily);
    border-collapse: separate;
    border-spacing: .7em;
    color: var(--mainTxtColor);
}

table tr {
    height: 80px;
    -webkit-box-shadow: 0px 3px 13px -3px rgba(122,122,122,0.5); 
    box-shadow: 0px 3px 13px -3px rgba(122,122,122,0.5)
}

table tr:first-child {
    box-shadow: none;
}

table tr:first-child th:first-child img {
    cursor: pointer;
}

table tr th:first-child {
    padding-left: 1em;
}

table tr td:first-child {
    font-weight: var(--bold);
}

table tr th {
    padding-left: 3em;
}

table tr td {
    padding-left: 3em;
}

table tr th > img {
    width: 10px;
    height: 12px;
}

table tr th:first-child {
    color: var(--secondTxtColor);
}

table tr td > img {
    height: 18px;
    cursor: pointer;
}

.customLabelText {
    color: var(--greyColor);
    font-size: .9em;
}

/*****PAGINATION*****/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

nav > span > img {
    width: 12px;
    margin-left: .5em;
    cursor: pointer;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: .8em;
    padding: 2em 0;
}

.page-link {
    border: none;
}

.page-link:hover {
    z-index: 0; 
    color: #0056b3;
    background-color: #fff;
}

.page-link:focus {
    box-shadow: none;
}

.page-item a {
    color: var(--mainTxtColor);
}

.page-item:first-child {
    margin-right: 2em;
}

.page-item:last-child {
    margin-left: 2em;
}

.page-item:first-child a, .page-item:last-child a {
    text-decoration: underline;
}

.activePage, .activePage:hover  {
    background-color: var(--paginationBgTxt);
    color: var(--secondTxtColor)!important;
}

.disabled {
    color: var(--greyColor);
}

#dropDown {
    border: 1px solid var(--bordersColor);
    border-radius: 5px;
    padding: .5em 1em;
}